* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 200px;
  margin: 0 auto;
  margin-top: 20px;
  padding: 10px;
  padding-top: 10px;
}

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  display: inline-block;
}

.btn {
  border: 2px solid gray;
  color: gray;
  background-color: white;
  padding: 8px 20px;
  border-radius: 8px;
  font-size: 20px;
  font-weight: bold;
}

.upload-btn-wrapper input[type="file"] {
  font-size: 100px;
  width: 200px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
